*{
    margin: 0;
    padding: 0;
    border: 0;
}

body, html{
    height: 100%;
}
body{
    height: 100%;
} 

li{list-style: none;}
a{text-decoration: none;}

h1,h2,h3,p,a{
    color: #272932;
    font-family: "Poppins", serif;
}

h1{
    font-size: 52px;
    line-height: 79px;
    font-family: "Poppins", serif;
    font-weight: 600;
    
}

.colorido {
    background-image: linear-gradient(90deg, #7CCADC, #897BA2, #D98080, #69B2A0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header{
    min-width: 4em;
    box-sizing: border-box;
    padding-top: 2em;
    height: 100%;
    background-color: #F8EFE6;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

header nav, header nav{
    margin-top: 4em;
}

header nav, header nav ol{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

header nav ol li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #D2C2B5;
    font-size: 18px;
    font-weight: 500;
}

footer{
    padding: 5em 8em;
    background-color: #F8EFE6;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

footer nav ol, footer .sociais{
    display: flex;
    gap: 2em;
    align-items: center;
}

footer nav ol, footer .sociais{gap:1em;}

footer .sociais li a{
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
}

footer .sociais li:nth-child(1) a { background-color: #69B2A0; }
footer .sociais li:nth-child(2) a { background-color: #7CCADC; }
footer .sociais li:nth-child(3) a { background-color: #897BA2; }
footer .sociais li:nth-child(4) a { background-color: #D98080; }


main{
    background-color: #FCF8F5;
    padding: 5em 8em;
    box-sizing: border-box;
    flex: 1;
    max-width: 100%;
}

main section{
    max-width: 200em;
}

main .destaque-home{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: stretch;
}

main .destaque-home div{
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1
}

main .destaque-home figure {
    flex: 1;
    display: flex;
    align-items: center; 
    justify-content: center;
  }

@media screen and (max-width:1500px){
    h1{
        font-size: 35px;
        line-height: 40px;
    }
    
}

@media screen and (max-width:1200px){
    h1{
        font-size: 30px;
        line-height: 32px;
    }
    
}
  
main .destaque-home figure img {
    max-width: 100%;
    height: auto;
  }

.botao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 0.7em;
    background-color: #272932;
    color: #D9D9D9;
    border-radius: 60px;
    width: 147px;
    font-size: 15px;
}

main section h2{
    font-size: 37px;
    padding-top: 2em;
    padding-bottom: .6em;
}

main #eventos-convidados{
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

main #eventos-convidados .ver-mais{
    padding-top: 2em;
    padding-bottom: .6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main #eventos-convidados .ver-mais h2{
    padding: 0;
}

main #eventos-convidados .ver-mais a{
    font-size: 16px;
    color: #8C5050;
    font-weight: 500;
}

main #eventos-convidados ol{
    gap: 1em;
    overflow: hidden;
    overflow-x: scroll;
    max-width: 100%;
    padding-bottom: 1em;
}

main #eventos-convidados ol::-webkit-scrollbar{
    height: 10px;
}

main #eventos-convidados ol::-webkit-scrollbar-thumb {
    background: #D2C2B5;
    border-radius: 20px;
}

.card-evento{
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
}

.card-evento li{
    width: 280px;
    height: auto;
    background-color: #D98080;
    padding: 3em 2em;
    box-sizing: border-box;
    border-radius: 28.58px;
    min-height: 343.42px;
    min-width: 280px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card-evento li section{
    width: 100%;
}

.card-evento li section div figure{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-evento li .configs figure{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-evento li section .data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-evento li section .data figure{
    width:37px;
}

.card-evento li section h3{
    font-size: 28.58px;
    line-height: 40px;
    color: #272932;
    font-weight: 500;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1em;
    padding-bottom: 0.1em;
    border-bottom: #8C5050 solid 2px;
    word-wrap: break-word; 
    white-space: normal;
}
.card-evento li section  .data-hora p{
    display: flex;
    align-items: center;
    color: #8C5050;
}

.card-evento li section  .data-hora p img{
    padding-right: 0.5em;
}
/* Pagina de criação de evento */

.criar-evento{
    background-image: url(imagens/backgrounds/Criar-eventos-background.svg);
    background-repeat: no-repeat;
    background-position: right center; /* Fixa na direita */
    background-size: auto 100%; /* Ajusta a altura e mantém a proporção */
    background-attachment: fixed;
}

.criar-evento section{
    display: flex;
    justify-content: space-between;
    max-width: 599px;

}

.criar-evento .botao{
    width: 157px;
}

.criar-evento section .background-figuras{
    flex: content;
}

.criar-evento section form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
    flex: 1;
    min-width: 500px;
}

.criar-evento section form input{
    outline: none;
    width: 100%;
    max-width: 599px;
    min-width: 400px;
    background-color: #F8EFE6;
    border-radius: 58px;
    height: 58px;
    box-sizing: border-box;
    padding: 1em;
    color: #D2C2B5;
    font-size: 20px;
    border: 2px solid transparent;
    transition: border 0.4s;
}

.criar-evento section form input:focus {
    border: 2px solid #E3D6D6;
}

.criar-evento section form input[type="date"]::-webkit-calendar-picker-indicator,
.criar-evento section form input[type="time"]::-webkit-calendar-picker-indicator {
  filter: brightness(0) saturate(100%) invert(81%) sepia(9%) saturate(219%) hue-rotate(333deg) brightness(91%) contrast(91%);
  cursor: pointer;
}

.criar-evento section input::placeholder {
    color: #D2C2B5;
    opacity: 1;
  }
  
.criar-evento section input:-ms-input-placeholder { /* Para Internet Explorer */
    color: #D2C2B5;
  }
  
.criar-evento section input::-ms-input-placeholder { /* Para Edge */
    color: #D2C2B5;
  }
  

.criar-evento section form h2{
    padding-top: 0.3em;
    padding-bottom: 0;
  }

  
.criar-evento section form ol{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 400px;
    padding-right: 1em;
}

.criar-evento section form ol::-webkit-scrollbar{
    width: 10px;
}

.criar-evento section form ol::-webkit-scrollbar-thumb {
    background: #D2C2B5; /* Cor da barra */
    border-radius: 20px;
}

.criar-evento section form ol li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 599px;
    min-width: 400px;
    background-color: #F8EFE6;
    border-radius: 58px;
    height: 58px;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: border 0.4s;
    
}

.criar-evento section form ol li figure{
    height: 58px;
    width: 58px;
    max-width: 58px;
}

.criar-evento section form ol li input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 30px;
    width: 30px;
    min-width: 30px;
    margin-right: 1em;
    border: none;
    border-radius: 30px;
    background-color: #E7DBD0;
    position: relative;
    
}

input[type="checkbox"]:checked::before {
    content: "✔";
    font-size: 16px;
    color: #272932;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.criar-evento section form ol li figure img{
    width: 100%;
}

.criar-evento section form ol li p{
    color: #D2C2B5;
    font-size: 20px;
    padding: 1em;
}
.criar-evento section form ol li:hover{
    border: 2px solid #E3D6D6;
}

/*eventos convidados*/

#eventos-convidados li{
    background-color: #D98080;
}

#eventos-convidados li section h3{
    color: #272932;
    border-bottom: #8C5050 solid 2px;
}

#eventos-convidados  li section  .data-hora p{
    color: #8C5050;
}



#eventos-convidados .meu li {
    background-color: #7CCADC;
    width: 19%;
}

#eventos-convidados .meu li section h3{
    border-bottom: #356773 solid 2px;
}

#eventos-convidados .meu li section .data-hora p{
    color: #356773;
}

/*   login   */

.login{
    background-image: none;
}

.login section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: none;
}

.login section form{
    max-width: 600px;
}

.login section form button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6em 1em;
}

destaque-login img{
    max-width: 540px;
    width: 40%;
}



/* meus eventos  */
.meus-eventos{
    margin-top: 2em;
}
.meus-eventos .card-evento li {
    background-color: #7CCADC;

.meus-eventos ol{
    margin-top: 5em;
    overflow: visible;
    flex-wrap: wrap;
}

.meus-eventos .card-evento li {
    background-color: #7CCADC;
    width: 19%;
}
.meus-eventos .card-evento li section h3{
    border-bottom: #356773 solid 2px;
}

.meus-eventos .card-evento li section  .data-hora p{
    color: #356773;
}
#seus-eventos{
    max-height: 100px;
}

/* botao acoes */
.opcoes{
    cursor: pointer;
    background-color: transparent;
}
.opcoes.aberto{
    background-color: transparent;
}

.acoes{
    gap: 10px;
    padding: 10px;
    width: 100px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px 0 15px 15px;
    display: none;
    position: absolute;
    right: 0;
}
.acoes.visivel{
    display: block;
    display: flex;
    flex-direction: column;
}
.acoes button{
    cursor: pointer;
    font-family: poppins;
    font-size: 16px;
    text-align: left;
    padding: 0;
    color: #D98080;
    background-color: transparent;
}
#meus-eventos .card-evento{
    position: relative;
}