<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/Celebralize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" type="image/x-icon" href="src/imagens/icones/celebralize.svg">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Criar evento</title>
</head>
<body>
    <header>
        <figure><img src="src/imagens/icones/celebralize.svg" alt="logo do Celebralize"></figure>
        <nav>
            <ol>
                <li><a href="home.html"><img src="src/imagens/icones/home.svg" alt="home"></a></li>
                <li><a href="Criar_evento.html"><img src="src/imagens/icones/criar-evento.svg" alt="crie um evento"></a></li>
                <li><a href="Meus_eventos.html"><img src="src/imagens/icones/eventos.svg" alt="seus eventos"></a></li>
                <li><a href="Eventos_convidados.html"><img src="src/imagens/icones/eventos-convidados.svg" alt="eventos que te convidaram"></a></li>
                <li><a href="#"><img src="src/imagens/icones/sair-icon.svg" alt="sair"></a></li>
            </ol>
        </nav>
    </header>
    <main class="criar-evento">
        <section>
            <form>
                <h1>Criar <span class="colorido">Celebração</span></h1>
                <input type="text" id="titulo" name="titulo" placeholder="Título" required>

                <input type="text" id="local" name="local"  placeholder="Local" required>

                <input type="time" id="horario" name="horario" required>

                <input type="date" id="data" name="data" placeholder="Quando?" required>

                <h2>Quem vai junto?</h2>
                <ol class="convidados_checkbox">
                    <li>
                        <div>
                            <h3>A mana dos roles</h3>
                            <p>email@gmail.com</p>
                        </div>
                        <input type="checkbox" id="checkbox_convidado" name="convidados" value="user1">
                    </li>
                    <li>
                        <div>
                            <h3>A mana dos roles</h3>
                            <p>email@gmail.com</p>
                        </div>
                        <input type="checkbox" id="checkbox_convidado" name="convidados" value="user1">
                    </li>
                    <li>
                        <div>
                            <h3>A mana dos roles</h3>
                            <p>email@gmail.com</p>
                        </div>
                        <input type="checkbox" id="checkbox_convidado" name="convidados" value="user1">
                    </li>
                    <li>
                        <div>
                            <h3>A mana dos roles</h3>
                            <p>email@gmail.com</p>
                        </div>
                        <input type="checkbox" id="checkbox_convidado" name="convidados" value="user1">
                    </li>
                    <li>
                        <div>
                            <h3>A mana dos roles</h3>
                            <p>email@gmail.com</p>
                        </div>
                        <input type="checkbox" id="checkbox_convidado" name="convidados" value="user1">
                    </li>
                    <li>
                        <div>
                            <h3>A mana dos roles</h3>
                            <p>email@gmail.com</p>
                        </div>
                        <input type="checkbox" id="checkbox_convidado" name="convidados" value="user1">
                    </li>

                    
                </ol>
                <button type="submit" class="botao">Criar Evento<img src="src/imagens/icones/criar-colorido.svg" alt="criar"></button>
            </form>
        </section>
    </main>
    <footer>
        <h1><img src="src/imagens/icones/celebralize.svg" alt="logo do Celebralize"> <span class="colorido">Celebralize</span></h1>
        <nav>
            <ol>
                <li><a href="home.html">Home</a></li>
                <li><a href="Criar_evento.html">Criar</a></li>
                <li><a href="Meus_eventos.html">Meus eventos</a></li>
                <li><a href="Meus_eventos.html">Eventos</a></li>
            </ol>
        </nav>

        <ol class="sociais">
            <li><a><img src="src/imagens/icones/linkedin.svg" alt="linkedin"></a></li>
            <li><a><img src="src/imagens/icones/facebook.svg" alt="facebook"></a></li> 
            <li><a><img src="src/imagens/icones/twitter.svg" alt="twitter/X"></a></li>
            <li><a><img src="src/imagens/icones/instagram.svg" alt="instagram"></a></li>
        </ol>
    </footer>
</body>
</html>