<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/Celebralize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Celebralize</title>
</head>
<body>
    <header>
        <figure><img src="" alt="logo do Celebralize"></figure>
        <nav>
            <ol>
                <li><a href="index.html"><img src="src/imagens/icones/home.svg" alt="home"></a></li>
                <li><a href="Criar_evento.html"><img src="src/imagens/icones/criar-evento.svg" alt="crie um evento"></a></li>
                <li><a href="Meus_eventos.html"><img src="src/imagens/icones/eventos.svg" alt="seus eventos"></a></li>
            </ol>
        </nav>
    </header>
    <main>
        <section class="destaque-home">
            <div>
                <h1>Organizar nunca foi tão<br> fácil, <span class="colorido">Celebrar nunca foi<br> tão divertido!</span></h1>
                <p>Com o Celebralize, você pode criar eventos de forma simples, reunir seus amigos sem complicações e aproveitar cada instante ao máximo.</p>
                <a href="Criar_evento.html" class="botao">Criar evento <img src="src/imagens/icones/criar-colorido.svg" alt="criar"></a>
            </div>

            <figure>
                <img src="src/imagens/backgrounds/destaque-home.svg" alt="figuras ilustrativas bem coloridas">
            </figure>
        </section>
        <section id="eventos-convidados">
            <h2><span class="colorido">Celebrações</span> que você foi convidado</h2>
            <ol class="card-evento">

                <li>
                    <div class="configs">
                        <figure>
                            <img src="src/imagens/icones/chapeu-festa.svg">
                            <a><img src="src/imagens/icones/_. ..svg"></a>
                        </figure>
                    </div>
                    <section>
                        <div class="data">
                            <p >02.fev.2025</p>
                            <figure>
                                <img src="src/imagens/icones/people.svg">
                                <p>54</p>
                            </figure>
                        </div>

                        <h3>Todminio dos queridões</h3>
                        <div class="data-hora">
                            <p><img src="src/imagens/icones/local-vermelho.svg">Casa do tod</p>
                            <p><img src="src/imagens/icones/horario-vermelho.svg">18h</p>
                        </div>
                    </section>
                </li>
                <li>
                    <div class="configs">
                        <figure>
                            <img src="src/imagens/icones/chapeu-festa.svg">
                            <a><img src="src/imagens/icones/_. ..svg"></a>
                        </figure>
                    </div>
                    <section>
                        <div class="data">
                            <p >02.fev.2025</p>
                            <figure>
                                <img src="src/imagens/icones/people.svg">
                                <p>54</p>
                            </figure>
                        </div>

                        <h3>Todminio dos queridões</h3>
                        <div class="data-hora">
                            <p><img src="src/imagens/icones/local-vermelho.svg">Casa do tod</p>
                            <p><img src="src/imagens/icones/horario-vermelho.svg">18h</p>
                        </div>
                    </section>
                </li>
                <li>
                    <div class="configs">
                        <figure>
                            <img src="src/imagens/icones/chapeu-festa.svg">
                            <a><img src="src/imagens/icones/_. ..svg"></a>
                        </figure>
                    </div>
                    <section>
                        <div class="data">
                            <p >02.fev.2025</p>
                            <figure>
                                <img src="src/imagens/icones/people.svg">
                                <p>54</p>
                            </figure>
                        </div>

                        <h3>Todminio dos queridões</h3>
                        <div class="data-hora">
                            <p><img src="src/imagens/icones/local-vermelho.svg">Casa do tod</p>
                            <p><img src="src/imagens/icones/horario-vermelho.svg">18h</p>
                        </div>
                    </section>
                </li>
                <li>
                    <div class="configs">
                        <figure>
                            <img src="src/imagens/icones/chapeu-festa.svg">
                            <a><img src="src/imagens/icones/_. ..svg"></a>
                        </figure>
                    </div>
                    <section>
                        <div class="data">
                            <p >02.fev.2025</p>
                            <figure>
                                <img src="src/imagens/icones/people.svg">
                                <p>54</p>
                            </figure>
                        </div>

                        <h3>Todminio dos queridões</h3>
                        <div class="data-hora">
                            <p><img src="src/imagens/icones/local-vermelho.svg">Casa do tod</p>
                            <p><img src="src/imagens/icones/horario-vermelho.svg">18h</p>
                        </div>
                    </section>
                </li>
                <li>
                    <div class="configs">
                        <figure>
                            <img src="src/imagens/icones/chapeu-festa.svg">
                            <a><img src="src/imagens/icones/_. ..svg"></a>
                        </figure>
                    </div>
                    <section>
                        <div class="data">
                            <p >02.fev.2025</p>
                            <figure>
                                <img src="src/imagens/icones/people.svg">
                                <p>54</p>
                            </figure>
                        </div>

                        <h3>Todminio dos queridões</h3>
                        <div class="data-hora">
                            <p><img src="src/imagens/icones/local-vermelho.svg">Casa do tod</p>
                            <p><img src="src/imagens/icones/horario-vermelho.svg">18h</p>
                        </div>
                    </section>
                </li>
                <li>
                    <div class="configs">
                        <figure>
                            <img src="src/imagens/icones/chapeu-festa.svg">
                            <a><img src="src/imagens/icones/_. ..svg"></a>
                        </figure>
                    </div>
                    <section>
                        <div class="data">
                            <p >02.fev.2025</p>
                            <figure>
                                <img src="src/imagens/icones/people.svg">
                                <p>54</p>
                            </figure>
                        </div>

                        <h3>Todminio dos queridões</h3>
                        <div class="data-hora">
                            <p><img src="src/imagens/icones/local-vermelho.svg">Casa do tod</p>
                            <p><img src="src/imagens/icones/horario-vermelho.svg">18h</p>
                        </div>
                    </section>
                </li>
                <li>
                    <div class="configs">
                        <figure>
                            <img src="src/imagens/icones/chapeu-festa.svg">
                            <a><img src="src/imagens/icones/_. ..svg"></a>
                        </figure>
                    </div>
                    <section>
                        <div class="data">
                            <p >02.fev.2025</p>
                            <figure>
                                <img src="src/imagens/icones/people.svg">
                                <p>54</p>
                            </figure>
                        </div>

                        <h3>Todminio dos queridões</h3>
                        <div class="data-hora">
                            <p><img src="src/imagens/icones/local-vermelho.svg">Casa do tod</p>
                            <p><img src="src/imagens/icones/horario-vermelho.svg">18h</p>
                        </div>
                    </section>
                </li>
                <li>
                    <div class="configs">
                        <figure>
                            <img src="src/imagens/icones/chapeu-festa.svg">
                            <a><img src="src/imagens/icones/_. ..svg"></a>
                        </figure>
                    </div>
                    <section>
                        <div class="data">
                            <p >02.fev.2025</p>
                            <figure>
                                <img src="src/imagens/icones/people.svg">
                                <p>54</p>
                            </figure>
                        </div>

                        <h3>Todminio dos queridões</h3>
                        <div class="data-hora">
                            <p><img src="src/imagens/icones/local-vermelho.svg">Casa do tod</p>
                            <p><img src="src/imagens/icones/horario-vermelho.svg">18h</p>
                        </div>
                    </section>
                </li>
                
            </ol>
        </section>
    </main>
</body>
</html>