<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/Celebralize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Celebralize</title>
</head>
<body>
    <header>
        <figure><img src="src/imagens/icones/celebralize.svg" alt="logo do Celebralize"></figure>
        <nav>
            <ol>
                <li><a href="index.html"><img src="src/imagens/icones/home.svg" alt="home"></a></li>
                <li><a href="Criar_evento.html"><img src="src/imagens/icones/criar-evento.svg" alt="crie um evento"></a></li>
                <li><a href="Meus_eventos.html"><img src="src/imagens/icones/eventos.svg" alt="seus eventos"></a></li>
                <li><a href="Meus_eventos.html"><img src="src/imagens/icones/eventos-convidados.svg" alt="eventos que te convidaram"></a></li>
                <li><a href="index.html"><img src="src/imagens/icones/sair-icon.svg" alt="sair"></a></li>
            </ol>
        </nav>
    </header>
    <main>
        <section class="destaque-home">
            <div id="seus-eventos">
                <h1>Seus <span class="colorido">Eventos</span></h1>
                <a href="Criar_evento.html" class="botao">Criar evento <img src="src/imagens/icones/criar-colorido.svg" alt="criar"></a>
            </div>

            <figure>
                <img src="src/imagens/backgrounds/destaque-evento.svg" alt="figuras ilustrativas bem coloridas">
            </figure>
        </section>
        <section id="meus-eventos">
            <ol class="card-evento">

                <li>
                    <div class="configs">
                        <figure>
                            <img src="src/imagens/icones/festa.svg">
                            <button type="button" class="opcoes"><img src="src/imagens/icones/_. ..svg"></button>
                        </figure>
                    </div>
                    <section>
                        <div class="data">
                            <p >02.fev.2025</p>
                            <figure>
                                <img src="src/imagens/icones/people.svg">
                                <p>54</p>
                            </figure>
                        </div>
                        
                        <h3>Todminio dos queridões</h3>
                        <div class="data-hora">
                            <p><img src="src/imagens/icones/local-azul.svg">Casa do tod</p>
                            <p><img src="src/imagens/icones/horario-azul.svg">18h</p>
                        </div>
                    </section>
                    <div class="acoes">
                        <a href="Editar_evento.html">Editar</a>
                        <button type="submit" class="excluir">Excluir</button>
                    </div>
                </li>

            </ol>
        </section>
    </main>
    <footer>
        <h1><img src="src/imagens/icones/celebralize.svg" alt="logo do Celebralize"> <span class="colorido">Celebralize</span></h1>
        <nav>
            <ol>
                <li><a href="index.html">Home</a></li>
                <li><a href="Criar_evento.html">Criar</a></li>
                <li><a href="Meus_eventos.html">Meus eventos</a></li>
                <li><a href="Meus_eventos.html">Eventos</a></li>
            </ol>
        </nav>

        <ol class="sociais">
            <li><a><img src="src/imagens/icones/linkedin.svg" alt="linkedin"></a></li>
            <li><a><img src="src/imagens/icones/facebook.svg" alt="facebook"></a></li> 
            <li><a><img src="src/imagens/icones/twitter.svg" alt="twitter/X"></a></li>
            <li><a><img src="src/imagens/icones/instagram.svg" alt="instagram"></a></li>
        </ol>
    </footer>
    <script>
        document.querySelectorAll('.opcoes').forEach(button => {
            button.addEventListener('click', () => {
                const acoesDiv = button.closest('li').querySelector('.acoes');
                acoesDiv.classList.toggle('visivel');
            });
        });
    </script>
</body>
</html>